body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;

	padding: 20px 0;

	color: #FFFFFF;

	background: #000000;
}

nav {
	margin: 0 auto;
}

nav a {
	margin-right: 10px;

	color: #FFFFFF;
}

footer {
	padding: 20px 0;

	text-align: center;

	color: #FFFFFF;
	background: #6F6F6F;
}
